<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'tasks/new' %>
<% end %>

<div id="register">
	<span class="info">I want to be part of this--sign me up!</span>
	<%= render 'form' %>
</div>