<!-- <p id="notice"><%#= notice %></p> -->

<span class="info">Thanks for registering, <%= @participant.name %>! We look forward to seeing you soon.</span>
<!-- 

<%#= link_to 'Edit', edit_participant_path(@participant) %> |
<%#= link_to 'Back', participants_path %> -->
