<p class="info">


	We are currently searching for people to join the Krewe! In particular, we need...
</br>
</br>
	*Bead-Throwers
</br>
	*Jazz Players
</br>
	*Dancers 
</br>
</br>
	Please contact us at emmaf9@gmail.com for more information on how to apply. 
</br>
</br>

	This parade is being put on as the first awareness event of the nonprofit EndoMeetReality.
</br>
</br>
	Besides being a fun reason to celebrate and bring some New Orleans spirit to San Francisco, this parade will work to increase Endometriosis awareness and indirectly decrease time to diagnosis. Endo is a debilitating disease, unique in that it is both common (more common than diabetes) and yet suffers from a severe lack of awareness and support both from society and the medical community. As a result, it takes an average of 9 years to get diagnosed. The severity of symptoms varies, but the most common is debilitating pain during periods.
</br>
</br>
	1) Some of our beads will have tampons attached to them. In the typical San Francisco spirit of celebrating all things taboo, we would like to promote discussion of periods and eliminate the shame and secrecy surrounding this natural bodily function. There are many benefits to removing this taboo, but one incredibly important effect of doing so is to indirectly reduce the suffering of women with Endometriosis. 
</br>
</br>
	Taboo, Shame and Secrecy Surrounding Periods Decreases => People will talk more about their periods => Women will have a better idea of what a 'normal' period should feel like from women outside of their family => Women whose periods cause severe pain and vomitting will recognize this pain as abnormal and deserving of medical care => Increased opportunities for a faster diagnosis of Endometriosis => Better Care, Less Suffering, Higher Grades and School Attendance
</br>
</br>
	2) The website and presence of Endo(metriosis) Survivors at the parade will serve to increase awareness of Endometriosis.
</br>
</br>
	We'd also like to invite you to the Million Women March for Endometriosis on March 24, 2015 in Palo Alto, as well as to check out our website at <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!endomeetreality.com. -->

</p>