
<div id="route"><span class="info">
	The parade will begin at the 24th St. Mission BART Station
	</br>
	and end in Dolores Park, San Francisco, CA.
	</br>
	</br>
	We'll supply free jambalaya in Dolores Park,
	</br>
	 but you are encouraged to bring snacks, drinks, and other supplies to share.
	</br>
	</span>
	</br>
	<%= image_tag "ParadeRoute.png" %>
</div>