<h1>Endometriosis Support Group</h1>
</br>
<h2>First Meeting is on April 2, 2015</h2>
</br></br></br>
<h3>First Thursdays of the month</h3>
<h3>6:30-7:30pm</h3>
<h3>117A Bartlett St., San Francisco (2 blocks from the 24th St Mission BART station)</h3>
</br></br>
<p>This is a warm, open support group. We will focus on one topic each week and turmeric tea will be served. Anyone who has or suspects they might have Endo is welcome to come.</p>
<p>Feel free to contact us at endomeetreality@gmail.com with any questions.</p>
<p>Hope to see you there!</p>